section{
    padding: 30px 0;
    display: flex;
    flex-direction: column;

}

.info__inner{
    font-size: clamp(20px, 3vw, 25px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info__inner-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__inner-main-right{
    display: flex;
    gap: 10px;
}

.info__inner-main-right img{
    max-width: 100px;
    max-height: 100px;
    filter: drop-shadow(#fff 2px 2px 1px);
}

.info__inner-txt{
    margin-top: 10px;
    display: block;
    max-width: 900px;
    line-height: 1.5;
}

.info__inner-skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

}

.info__inner-skills ul{
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info__bottom{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get__started{
    margin: 30px 0 0;
    
    padding: 20px 40px;
    background: #000;
    outline: none;
    color: #Fff;
    font-size: clamp(25px, 2vw, 30px);
    border-radius: 50px;
}

.images{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.images img{
    display: block;
    max-width: 100%;
    border-radius: 10px;
    filter: drop-shadow(#000 10px 10px 5px);
}